@{
    ViewData["Title"] = "Home Page";
}

<div id="sobremim">
    <div id="divSobreMim">
        Frases do Disco <br /> <br />
        Boa,Os cara vai bater palma,Bora,Entra Disco, <br />
        Dotinha?,Vai ter?,O cara é um macaco.
    </div>
</div>












